/* font-family: 'Corben', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Orelega One', cursive;  */

:root {
    --color1: #78A1BB;
    --color2: #4C4B63;
    --color3: #EBF5EE;
    --color4: #ffffff;
  } 
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: var(--color2);
    background-color: var(--color4);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1e,;
  }

  .body {
      text-align: center;
  }
  
  /* header  ----------------------------------*/
  header {
    height: 90px;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    width: 100%;
  }
  
  header a {
    text-decoration: none;
    color: var(--color4);
  }
  
  header h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 36px;
    color: var(--color3);
    margin: 0 10px;
  }
  
  header nav ul {
    display: flex;
    /* flex-wrap: wrap; */
    list-style: none;
  }
  
  header nav li a {
    padding: 10px;
    font-weight: lighter;
    font-size: 12;
    color: #ffffff;
    font: 'Barlow Semi Condensed', sans-serif;
    align-items: center;
  }
  
  header nav ul li a:hover {
    color: var(--color1);
  }
  
  .title {
    width: 100;
    height: 100px;
    padding: 0;
    margin: 0 .5px;
    display: flex;
    text-align: center;
  }
  
  h2 {
    display: flex;
    align-items: center; 
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 28px;
    color:var(--color2);
    width: 170px;
    text-align: right;
  }
  
  
  /* hero  ----------------------------------*/
  .hero {
    width: 100%;
    height: 300px;
    background-image: url("./images/typing.jpg");
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 25%;
  }

  .container {
    justify-content: center;
  }
  
  /* about me  ----------------------------------*/
  .about-me-content{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  
  .about-me-content img {
    margin-right: 15px;
    width: 150px;
    height: 150px;
    border-radius: 160px;
    padding: 1em;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
  }
  
  .about-me p {
    height: 100px;
    padding: 0;
    margin: 0;
    display: block;
  }

  .title {
      text-align: center;
  }
  
  /* my work ---------------------------------- */
  .project {
    background-color: var(--color3);
    margin: 10px 5px;
    flex-direction: row;
  }
  

  .my-work h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 10px 5px;
    line-height: 1.3;
    font-size: 18pt;
    font-style: bold;
    color: var(--color2);
    text-align: left;
  }
  
  .my-work img {
    width: 90%;
    height: 150px;
    margin: 0;
    opacity: .5;
  }
  
  .my-work a:hover {
    content: "";
    opacity: .5;
  } 
  
  /* resume ---------------------------------- */
  .resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  .resume h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    color: var(--color2);
  }
  
  .resume h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: var(--color2);
  }
  
  #resume ul {
    line-height: 1.5;
  }
  
  /* contact me ---------------------------------- */
  .contact-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .contact-info {
    display: inline;
    padding: 10px 0;
    margin: 5px 0px;
    width: 840px;
  }
  
  .contact-info ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .contact-info li {
    padding: 5px 0;
    font-size: 12;
    color: var(--color2);
    
  }
  
  .contact-info a {
    font-size: 12;
    color: var(--color2);
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  
  .contact-info a:hover {
    color: var(--color1);
  }
  
  .contact-info p, .contact-info a {
    line-height: 1;
    font-style: lighter;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  /* footer ---------------------------------- */
  footer {
    background-color:var(--color2);
    width: 100%;
    padding: 40px 35px;
    margin: 5px;
  }
  
  footer p {
    margin: 0;
    padding: 10px 0 10px 0;
    color: #ffffff;
    text-align: center;
  }
  
  .flex-row {
    display: flex;
    width: 200px;
  }